.customer-reviews {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    padding: 0px;
    background-color: tomato;
    background-image: url(../../images/background_desktop_1300.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}